<li>
  <a href="/projects">
    <i class="large material-icons" style="margin: 2px;">
      list
    </i>
    Listar Pacientes
  </a>
</li>
<li>
  <a href="/server/views/home/masajeView.hbs">
    <i class="large material-icons" style="margin: 2px;">
      list
    </i>
   Masajes
  </a>
</li>
<li class="divider"></li>
<li>
  <a href="/projects/add">
    <i class="large material-icons" style="margin: 2px;">
      add_box
    </i>
    Registrar Paciente
  </a>
</li>